.ui.menu {
    border-radius: 0px !important;
	background: #2B2A24 !important;
}


body {
	background-color:black;
	color: white;
	font-size: 25px;
}

@font-face {
	font-family: "header";
	src: url("fonts/DefconZeroCondensedItalic-aRlJ.otf");  

}



.title {
	margin-left: 10%;
	font-size: 3000%;
	font-family: 'header', sans-serif;
}

.subtitle {
	margin-left: 20%;
	font-size: 800%;
}


#releases {
	margin-left: 1%;
}

#about {
	margin-left: 1%;
}

#releases h1 {
	font-size: 40px;
	font-family: 'header', sans-serif;
}

#releases h2 {
	font-size: 30px;
	font-family: 'header', sans-serif;
}


#about h1 {
	font-size: 40px;
	font-family: 'header', sans-serif;
}

#about h2 {
	font-size: 30px;
	font-family: 'header', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.index_image {
  max-width: 100%;
  height: auto;
}

code {
  display: block;
  white-space: pre-wrap   
}


th, td {
  border: 0.5px solid black;
}
